.DS_Store
*.log
*.tmp
*.swp

vendor/
composer.phar

var/cache/
var/log/
var/sessions/

node_modules/
npm-debug.log
yarn-error.log

analytics/analytics
analytics/bin/
analytics/build/
analytics/tmp/

.env.local
.env.prod

.idea/
.vscode/
*.iml

Thumbs.db

minio/
minio-data/

pgdata/

rabbitmq-data/

redis-data/

*.bak
*.old

backup