services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: fitsync
      POSTGRES_PASSWORD: fitsync
      POSTGRES_DB: fitsync
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks: [backend]

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks: [backend]

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: fitsync
      RABBITMQ_DEFAULT_PASS: fitsync
    ports:
      - "5672:5672"
      - "15672:15672"
    networks: [backend]

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: fitsync
      MINIO_ROOT_PASSWORD: fitsync123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/data
    networks: [backend]

  # --------------------------------------------
  # GATEWAY (LIVE RELOAD)
  # --------------------------------------------
  gateway:
    build: ./gateway
    volumes:
      - ./gateway:/var/www   # live code
    command: php -S 0.0.0.0:8080 -t public
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - rabbitmq
    networks: [backend]

  # --------------------------------------------
  # DEVICES WORKER (PHP CLI)
  # --------------------------------------------
  devices:
    build: ./devices
    working_dir: /var/www
    volumes:
      - ./devices:/var/www           # live code
      - devices_vendor:/var/www/vendor  # persistent vendor
    command: sh -c "composer install && php index.php"
    depends_on:
      - rabbitmq
      - postgres
    networks: [backend]

  # --------------------------------------------
  # NOTIFIER WORKER (PHP CLI)
  # --------------------------------------------
  notifier:
    build: ./notifier
    working_dir: /var/www
    volumes:
      - ./notifier:/var/www
      - notifier_vendor:/var/www/vendor
    command: sh -c "composer install && php worker.php"
    depends_on:
      - rabbitmq
    networks: [backend]

  # --------------------------------------------
  # ANALYTICS (GO BINARY WITH AUTO-BUILD)
  # --------------------------------------------
  analytics:
    build: ./analytics
    working_dir: /app
    volumes:
      - ./analytics:/app    # live code
    command: sh -c "go build -o analytics && ./analytics"
    depends_on:
      - rabbitmq
    networks: [backend]


networks:
  backend:

volumes:
  pgdata:
  minio:
  devices_vendor:
  notifier_vendor:
