services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: fitsync
      POSTGRES_PASSWORD: fitsync
      POSTGRES_DB: fitsync
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: fitsync
      RABBITMQ_DEFAULT_PASS: fitsync
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - backend

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: fitsync
      MINIO_ROOT_PASSWORD: fitsync123
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - backend
    volumes:
      - minio:/data

  gateway:
    build: ./gateway
    volumes:
      - ./gateway:/var/www
    ports:
      - "8080:8080"
    command: php -S 0.0.0.0:8080 -t public
    networks:
      - backend
    depends_on:
      - postgres

  devices:
    build:
      context: ./devices
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - backend

  notifier:
    build:
      context: ./notifier
    depends_on:
      - rabbitmq
    networks:
      - backend

  analytics:
    build:
      context: ./analytics
    depends_on:
      - rabbitmq
    networks:
      - backend

networks:
  backend:

volumes:
  pgdata:
  minio:
